body{
    background: orange;
}

#pic{
    position: absolute;
    margin-left: 400px;
}

.text{
    width: 100%;
    height: 200px;
    background: yellowgreen;
    position: absolute;
    margin-top: 65px;
}

.box{
    width: 500px;
    height: 200px;
    background-color: papayawhip;
    position: absolute;
    margin-top: 200px;
    margin-left: 360px;
}

#name{
    width: 440px;
    height: 30px;
    font-size: 17px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 25px;
}

#password{
    width: 440px;
    height: 30px;
    font-size: 17px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 25px;
}

#sign{
    font-family: initial;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 550px;
}