
#pic{
    position: absolute;
    margin-left: 400px;
}

.text{
    width: 100%;
    height: 200px;
    background: white;
    position: absolute;
    margin-top: 65px;
}

.box{
    width: 500px;
    height: 200px;
    background-color: white;
    position: absolute;
    margin-top: 200px;
    margin-left: 360px;
}

#name{
    width: 440px;
    height: 30px;
    font-size: 17px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 25px;
}

#password{
    width: 440px;
    height: 30px;
    font-size: 17px;
    padding-left: 10px;
    margin-top: 12px;
    margin-left: 25px;
}

#sign{
    font-family: initial;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 550px;
}

#checkbox{
    width: 20px;
    height: 50px;
    margin-top: 0px;
    margin-left: 26px;
}

#info1{
    font-size: 18px;
    margin-top: -40px;
    margin-left: 53px;
}

#info{
    font-size: 18px;
    margin-top: -15px;
    margin-left: 510px;
}

#link1{
    margin-left: 570px;
}

a:link{
    text-decoration: none;
}

.sign-in-bar{
    background:  #0072C6;
    color: white;
    border: 1px solid white;
    width: 440px;
    height: 35px;
    margin-top: 410px;
    margin-left: 395px;
    font-size: 18px;
    text-align: center;
}

.sign-in-bar:hover{
    background:  #0072C6;
    border: 1px solid black;
    width: 440px;
    height: 35px;
    margin-top: 410px;
    margin-left: 395px;
    font-size: 18px;
    text-align: center;
}

#no-account{
    font-size: 18px;
    margin-left: 530px;
}

#Create-one{
    margin-top: -120;
    margin-left: 5px;
}

#forget-password{
    font-size: 15px;
    margin-top: 50px;
    margin-left: 560px;
}

#single-code{
    margin-top: -5px;
    margin-left: 530px;
}

#terms{
    font-size: 15px;
    margin-left: 500px;
}

#privacy{
    font-size: 15px;
    margin-left: 40px;
}

#end-line{
    margin-top: 50px;
}
